@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@700&display=swap");

.logo {
  font-family: "Spline Sans", sans-serif;
  font-size: 3rem;
  color: white;
  background-color: black;
}
